@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

 :root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
  }
* {
    padding: 0px;
    margin: 0px;
}


body{
    background-color: darkgray;
    min-height: 100%;
    font-family: var(--fonte1);
}

header{
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
}

header > h1{
    padding-top: 50px;
    margin-bottom: 15px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header > p{
    padding-bottom: 25px;
}

header a, footer a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.712);
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.349);
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 1px 0px black;
}

section#img01{
background-image: url(../img/background001.jpg);
background-position: right center;
background-size: cover;
}

section#img02{
background-image: url(../img/background002.jpg);
background-position: right center;
background-size: cover;
}

footer{
    background-color: black;
    padding: 8px;
    color: white;
    text-align: center;
}